body {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.card {
  display: block;
  margin: 0px auto;
  max-width: 850px;
  margin-top: 2%;
}

.search-city {
  display: block;
  margin: 0px auto;
  max-width: 850px;
  margin-top: 2%;
}
.d-flex {
  position: relative;
  width: 800px;
}

.weather-now {
  display: block;
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
}

.city-name {
  font-size: 50px;
  font-family: monospace;
}
.temperature {
  color: #0c2233;
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.degree-units {
  color: #0c2233;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  top: -40px;
}

.forecast {
  color: #20bcd8;
  text-shadow: rgb(39, 39, 39);
  font-family: monospace;
  text-transform: capitalize;
}
.real-feel {
  font-size: 20px;
  color: #0c2233;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.feel-units {
  font-size: 20px;
  color: #0c2233;
  font-family: Georgia, Times, "Times New Roman", serif;
  position: relative;
  bottom: 5px;
  font-weight: bold;
}

.weekday {
  font-size: 30px;
  font-family: monospace;
}

h3 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card-body {
  text-align: center;
}
.nextfive-days {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 2%;
}
.card-title {
  text-align: center;
  color: #0c2233;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.card-text {
  text-align: center;
  font-size: 18px;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.sun-icon {
  font-size: 22px;
  color: goldenrod;
}
.sun-rain-icon {
  font-size: 30;
  color: rgb(99, 99, 99);
}
.bolt-icon {
  font-size: 22px;
  color: rgba(218, 215, 42, 0.89);
}
.cloud-moon-icon {
  font-size: 24px;
}
.wax-moon-icon {
  font-size: 22px;
}
.repository-link {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
