body {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.card {
  display: block;
  margin: 0px auto;
  max-width: 700px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-city {
  display: block;
  margin: 0px auto;
  max-width: 700px;
  margin-top: 2%;
}
.d-flex {
  position: relative;
  width: 700px;
}

.weather-now {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.city-name {
  font-size: 50px;
  font-family: serif;
}

.weather-temperature {
  display: block;
  margin: 0 auto;
}

.temperature {
  color: #0c2233;
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.degree-units {
  color: #0c2233;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  top: -40px;
}

.description {
  color: #20bcd8;
  text-shadow: rgb(39, 39, 39);
  font-size: 30px;
  font-family: monospace;
  text-transform: capitalize;
}

.humid .wind-speed {
  color: black;
  font-weight: bold;
}

.weekday {
  font-size: 25px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.now {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.card-body {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  max-height: 700px;
}
.nextfive-days {
  display: block;
  margin: 0 auto;
  margin-top: 6%;
  text-align: center;
  margin-bottom: 2%;
}
.forecast {
  text-align: center;
  color: #0c2233;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
.nextfive-forecast-temperatures {
  font-size: 18px;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.nextfive-forecast-temperatures-min {
  opacity: 0.5;
  text-align: center;
}

.repository-link {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
