body {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  margin-top: 2%;
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.d-flex {
  position: relative;
  width: 780px;
}
